<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body <%- (typeof controls !='undefined' && controls) ? 'class="controller"' : '' %>>
  <div id="clock">
    <div class="display">
      <div class="time">00:00</div>
      <div class="progressBar"></div>

      <div class="title"> </div>
    </div>
    <div class="round">Round <span class="currentRound">0</span> of <span class="totalRounds">0</span></div>

  </div>
  <%- (typeof controls !='undefined' && controls) ? include('./partials/presets') : '' %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      var messages = document.getElementById('messages');
      var presets = document.getElementById('presets');
      var newTimers = document.getElementById('newTimers');
      var controls = document.getElementById('controls');
      var input = document.getElementById('input');

      let remaining;
      let autostart = false;

      var audio = new Audio('longbeep.mp3');
      audio.muted = true;

      const display = document.querySelector('#clock .display');
      const clock = document.getElementById('clock');
      const t = clock.querySelector('.time');
      const roundsTotal = clock.querySelector('.totalRounds');
      const currentRound = clock.querySelector('.currentRound');
      const currentInterval = clock.querySelector('.currentInterval');
      const progressBar = clock.querySelector('.progressBar');


      function setProgress(index) {
        //  previous current is now past
        let prev = progressBar.querySelector('.current');
        prev.classList.remove('current');
        prev.classList.add('past');
        progressBar.querySelector(`[data-index="${index}"]`).classList.remove('future');
        progressBar.querySelector(`[data-index="${index}"]`).classList.add('current');
      }

      function setupClock(sequence) {
        if (!sequence.currentInterval) {
          setupTimer(sequence.intervals[0])
        } else {
          setupTimer(sequence.currentInterval);
        }
        currentRound.textContent = sequence.currentSet;
        roundsTotal.textContent = sequence.numberOfSets;

        progressBar.innerHTML = '';
        for (let i = 0; i < sequence.intervals.length; i++) {

          let progressTick = document.createElement('div');
          if (i == 0) {
            progressTick.classList.add('tick', 'current');
          } else {
            progressTick.classList.add('tick', 'future');
          }
          progressTick.style.width = 100 / sequence.intervals.length + '%';
          progressTick.dataset.index = i;
          progressBar.appendChild(progressTick);
          audio.muted = false;
        }
        setupTimer(sequence.currentInterval);


      }

      function setupTimer(interval) {
        updateTimer(interval);
        clock.classList.forEach(className => {
          if (className.startsWith('color')) clock.classList.remove(className);
        });
        if (interval.color) clock.classList.add(`color-${interval.color}`);

        t.textContent = formatTime(interval.duration);
        t.dataset.duration = interval.duration;
        display.querySelector('.title').textContent = interval.name;
        if (interval.index) {
          setProgress(interval.index);
        }
        if (interval.diff > 0) clock.classList.add('active');

      }

      function updateTimer(interval) {
        if(interval.diff <= 0) audio.play();
        t.textContent = formatTime(interval.diff);
        

      }

      function formatTime(duration) {
        // does the same job as parseInt truncates the float
        minutes = (duration / 60) | 0;
        seconds = (duration % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        return minutes + ":" + seconds;
      }

      if (controls) {
        presets.addEventListener('click', function (e) {
          e.preventDefault();
          if (e.target.dataset.file) {
            console.log(e.target.dataset.file);
            socket.emit('fetch sequence', e.target.dataset.file);
          }
        });

        newTimers.addEventListener('click', function (e) {
          e.preventDefault();
          if (e.target.dataset.duration) {
            roundInput = document.querySelector('input[name="rounds"]');
            setsInput = document.querySelector('input[name="sets"]');
            roundRestInput = document.querySelector('input[name="roundRest"]');
            setRestInput = document.querySelector('input[name="setRest"]');

            let sequence = {
              numberOfSets: setsInput.value,
              intervalRest: {
                name: "Rest",
                duration: roundRestInput.value,
                color: 1,
                rest: true
              },
              setRest: {
                name: "Rest",
                duration: setRestInput.value,
                color: 1,
                rest: true
              },
              intervals: []
            }

            let interval = 
            {
              duration: e.target.dataset.duration,
              color: 2,
              name: ''
            }

            for (let i = 0; i < roundInput.value; i++) {
              sequence.intervals.push(interval);      
            }
            
          socket.emit('set sequence', sequence);
          }
        });


        document.getElementById('startstop').addEventListener('click', function (e) {
          e.preventDefault();
          let action = e.target.dataset.action;
          if (action) {
            socket.emit(`${action} timer`);
            if (action == 'pause') {
              e.target.textContent = 'Resume';
              e.target.dataset.action = 'resume';
            } else if (action == 'start') {
              e.target.textContent = 'Pause';
              e.target.dataset.action = 'pause';
            } else if (e.target.dataset.action == 'resume') {
              e.target.textContent = 'Pause';
              e.target.dataset.action = 'pause';
            } else if (e.target.dataset.action == 'reset') {
              document.getElementById('timerControl').textContent = 'Start';
              document.getElementById('timerControl').dataset.action = 'start';
            }
          }
        })
      }

      socket.on('tick', function (currentInterval) {
        updateTimer(currentInterval);
      });

      socket.on('start timer', function (msg) {
        clock.classList.add('active');
      });

      socket.on('setup interval', function (interval) {
        setupTimer(interval);
      });

      socket.on('setup clock', function (sequence) {
        setupClock(sequence);
      });

      socket.on('timer complete', function (e) {
        display.classList.remove('active');
      });

      socket.on('pause timer', function (e) {
        t.dataset.duration = remaining;
      });
    </script>
</body>

</html>